location = ${NGINX_404_URL} {
  include /etc/nginx/conf.d/react_rules.include;
  proxy_intercept_errors off;
}

location / {
  include /etc/nginx/conf.d/react_rules.include;
  proxy_intercept_errors on;
}
